
a, a:hover{color:#FFF;}

.card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
.animate{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;transition:all .3s ease-in-out}

/*****************counter box********************************/
.boxcnter{
    margin-bottom: 30px;
}

.boxcnter .counter {
    background-color:#ECECEC;
    padding: 20px 0;
    border-radius: 5px;
}

.boxcnter .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.boxcnter .count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.boxcnter .fa-3x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #12B3DB;
}
/*****************fin counter box********************************/