<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a><i class="fa fa-home"></i> Acceuil</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <br><br>

      
	<!--div *ngIf="!user" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"-->
	<!--div class="col-lg-12">
	        <img src="../../assets/images/loading.gif" class="img-responsive imgloader">
	</div-->
	<!--/div-->   

    <!--div *ngIf="user" class="formall col-lg-12"-->	
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alert alert-warning alert-dismissable text-left">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    			<i class="fa fa-bell-o"></i> Vous avez <strong>12 Notifications !</strong>, consultez votre dernière 
    			<a class="btnicon" routerLink="/"> notification</a>.
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 alert alert-primary alert-dismissable text-left">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    			<i class="fa fa-envelope-o"></i> Vous avez <strong>5 Messages !</strong>, consultez votre 
    			<a class="btnicon" routerLink="/"> boite messagerie</a>.
        </div>        
    </div>               
    <!--/div-->



	<div class="container boxcnter">
		<div class="row text-center">
		    <div class="col">
		        <div class="counter">
			      <i class="fa fa-users fa-3x"></i>
			      <h2 class="timer count-title count-number" data-to="49" data-speed="1500"></h2>
			      <p class="count-text ">Candidats En cours</p>
	            </div>
		    </div>
		    <div class="col">
	            <div class="counter">
			      <i class="fa fa-calendar fa-3x"></i>
			      <h2 class="timer count-title count-number" data-to="6" data-speed="1500"></h2>
			      <p class="count-text ">Evénements</p>
	            </div>
	        </div>
	        <div class="col">
	            <div class="counter">
			      <i class="fa fa-envelope fa-3x"></i>
			      <h2 class="timer count-title count-number" data-to="1200" data-speed="1500"></h2>
			      <p class="count-text ">Messages Archivés</p>
	            </div>
	        </div>
	        <div class="col">
	              <div class="counter">
				      <i class="fa fa-users fa-3x"></i>
				      <h2 class="timer count-title count-number" data-to="1000" data-speed="1500"></h2>
				      <p class="count-text ">Candidats Archivés</p>
	               </div>
	        </div>
	    </div>
	</div>



    <div class="container-fluid">
      <div class="row">

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>

      </div><!--fin-->
    </div>

</section>