.footerb{
    bottom: 0px;
    margin-bottom: 10px;
    /*margin-top: 30px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    right: 0px;
    /*border-top: 1px solid #15596B;*/
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}