<a id="back-to-top" href="#" class="btn btn-primary text-uppercase back-to-top" role="button" title="En haut" data-toggle="tooltip" data-placement="left"><i class="fa fa-chevron-up"></i></a>

<!-- footer content -->
    <!--footer class="footerb">
        <div class="text-right">
          <p>© 2018 Capgemini Tous droits réservés.&nbsp;&nbsp;</p>
        </div>
    </footer-->
<!-- /footer content -->
