ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    /*background: #d4d9df;*/
    display: inline-block;
    position: absolute;
    left: 1px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #15596B;
    left: 0px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.affichecandidatsblok{
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.affichecandidatsblok{
    box-shadow: 0px 1px 6px rgba(0,0,0,.1);
    border: 1px solid #ECECEC;
}