<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-user"></i> Détails d'un collaborateur</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <div class="col-lg-12" *ngIf="user">
        <div class="pull-right">
        	<a routerLink="/ListesDesCandidats" class="btn btn-sky text-uppercase">
        		<i class="fa fa-users"></i> Liste des collaborateurs
            </a>
        </div>
    </div>

    <br><br>
      
	   <div *ngIf="!user" class="col-lg-12">
	        <img src="../../assets/images/loading.gif" class="img-responsive imgloader">
	   </div>    

       <div *ngIf="user" class="formall affichecandidatsblok">	
            <div class="col-lg-4 pull-right" [ngSwitch]="user.civilite">
	            <img *ngSwitchCase="'M'" src="../../assets/images/avatar-men.png" class="img-responsive img-circle" alt="" width="100%">
	            <img *ngSwitchCase="'Mlle'" src="../../assets/images/avatar-women.png" class="img-responsive img-circle" alt="" width="100%">            	
	            <img *ngSwitchCase="'Mme'" src="../../assets/images/avatar-women.png" class="img-responsive img-circle" alt="" width="100%">
            </div>
         
         <div class="col-lg-8" >

         <div >
			<h4 class="text-uppercase">{{user.civilite}} {{user.nom}} {{user.prenom}}</h4>
			<ul class="timeline">
				<li>
					<a><strong>&nbsp;&nbsp;CIN</strong> : {{user.cin}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Date naissance</strong> : {{user.datenaissance}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Situation familiale</strong> : {{user.situationfamiliale}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Grade</strong> : {{user.grade}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Profil</strong> : {{user.profil}}</a>
					<p>  </p>
				</li>				
				<li>
					<a><strong>&nbsp;&nbsp;Date d'intégration</strong> : {{user.dateintegration}} {{user.heureintegration}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Disponibilité</strong> : {{user.disponibilite}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Login</strong> : {{user.login}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Mot de passe</strong> : ***************</a>
					<p>  </p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Date de création de compte</strong> : {{user.datecreation}} {{user.heurecreation}}</a>
					<p></p>
				</li>
				<li [ngSwitch]="user.etatdossier">
					<a *ngSwitchCase="'En cours'"><strong>&nbsp;&nbsp;Etat de dossier</strong> : <label class="badge badge-warning">{{user.etatdossier}}</label></a>
					<a *ngSwitchCase="'Archivé'"><strong>&nbsp;&nbsp;Etat de dossier</strong> : <label class="badge badge-danger">{{user.etatdossier}}</label></a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Zone de mobilité</strong> : {{user.zonemobilite}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Numéro de portable</strong> : {{user.numportable}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Numéro de fixe</strong> : {{user.numfixe}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Email</strong> : {{user.email}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Adresse</strong> : {{user.adresse}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Autres informations</strong> : {{user.commentaire}}</a>
					<p></p>
				</li>
				<li>
					<a><strong>&nbsp;&nbsp;Ajouter par</strong> : {{user.ajouterpar}}</a>
					<p></p>
				</li>
			</ul>
	     </div>   
         </div>                
       </div>


</section>
