<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-file-pdf-o"></i> Ajouter un document</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="pull-right">
        	<a routerLink="/Listedesdocuments" class="btn btn-sky text-uppercase">
        		<i class="fa fa-file-pdf-o"></i> Liste des documents
            </a>
        </div>
    </div>

    <br><br>   

       <div class="blokadd-doc">
         
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <form #creationDoc="ngForm" (ngSubmit)="creationForm(creationDoc)" class="formall" >
            <!--fieldset class="scheduler-border"-->
                <!--legend class="scheduler-border text-right"><i class="fa fa-user"></i> Ajouter un collaborateur</legend-->
    		    <h3 class="text-center"><i class="fa fa-file-pdf-o"></i> Ajouter un document</h3><br>  		    

                <div class="row blocForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="alert alert-info alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    				    <strong>Information !</strong> Les champs avec (*) sont obligatoires.
    				  </div>
        		    </div>
                </div> 

                <div class="row blocForm">
              	
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                        <div class="form-group">
                            <label class="control-label">Titre du document <span class="etoilered">*</span></label>
                            <input class="form-control" type="text" ngModel name="nomdocInput" placeholder="Entrez le titre" autocomplete="on" minlength="4" maxlength="20" required/>
                             <div *ngIf="creationDoc.invalid && creationDoc.touched">
                                <span *ngIf="creationDoc.controls.nomdocInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 4 Caractéres et Max 20 caractéres</span>
                             </div> 
                        </div>

                        <div class="form-group">
                            <label class="control-label">Source <span class="etoilered">*</span></label>
                            <input class="form-control" type="text" ngModel name="sourcedocInput" placeholder="Entrez le source" autocomplete="on" minlength="4" maxlength="20" #sourcedocInput required/>
                             <div *ngIf="creationDoc.invalid && creationDoc.touched">
                                <span *ngIf="creationDoc.controls.sourcedocInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 4 Caractéres et Max 20 caractéres</span>
                             </div> 
                        </div>

                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea cols="10" rows="5" class="form-control" ngModel name="descdocInput" placeholder="Entrez la description " minlength="1" maxlength="100"></textarea>
                        </div>  

                        <div class="form-group">
                            <label class="control-label">Icone du document </label>
                            <input class="form-control" type="text" ngModel name="icondocInput" placeholder="Entrez l'icone" autocomplete="on" minlength="4" maxlength="20" /> 
                        </div>

                    </div>
                </div>


                <div class="row blocForm pull-right">
                    <div class="blokinputhide">
                        <input type="text" [value]="Currentday | date:'dd/MM/yyyy'" [ngModel]="Currentday | date:'dd/MM/yyyy'" name="datedocInput" #datedocInput readonly/>
                        <input type="text" [value]="Currentday | date:'hh:mm:ss'" [ngModel]="Currentday | date:'hh:mm:ss'" name="heuredocInput" #heuredocInput readonly/>
                        <input type="text" ngModel="KENZA" name="ajouterpardocInput" #ajouterpardocInput readonly/>
                        <input type="text" ngModel="{{sourcedocInput.value | slice:-4}}" name="formatdocInput" #formatdocInput readonly/>
                    </div>

                     &nbsp;<button type="submit" class="btn btn-fresh text-uppercase" [disabled]="creationDoc.invalid || creationDoc.pristine" >Ajouter</button>&nbsp;
                     &nbsp;<button type="reset" class="btn btn-hot text-uppercase">Vider</button>&nbsp;   
                </div>                          
            <!--/fieldset-->
    	    </form>   
	        </div>

       </div>
</section>