<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-power-off"></i> Déconnecter</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <br><br>

    <div class="col-lg-12">
        <div class="container">
          <div class="circle">
              <div class="wave"></div>
          </div>
        </div>
    </div>

</section>
