<section class="row allblok">
 
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
    <ul class="breadcrumb pull-left">
      <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
      <li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
      <li class="active"><a ><i class="fa fa-users"></i> Liste des collaborateurs archivés</a></li>
    </ul>
    <div class="pull-right"></div>
  </div>

    <div class="col-lg-12" *ngIf="users">
        <div class="pull-right">
          <a routerLink="/Ajouteruncandidat" class="btn btn-sky text-uppercase">
            <i class="fa fa-plus-square"></i> Ajouter un collaborateur
          </a>
        </div>
    </div>
    <br><br>
    <div class="col-lg-12">

     <div *ngIf="!users">
      <img src="../../assets/images/loading.gif" class="img-responsive imgloader">
     </div>

    <div *ngIf="users" class="table-responsive">     
      <table datatable id="ListescandidatsArch" class="table table-hover table-bordered" style="width:100%">
        <thead>
          <tr>
            <th></th>
            <th>Nom Complet</th>
            <th>CIN</th>
            <th>Disponibilite</th>
            <th>Date d'integration</th>
            <th>Grade</th>
            <th>A jouter par</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users" [ngSwitch]="u.etatdossier">
            <th *ngSwitchCase="'Archivé'" [ngSwitch]="u.civilite" class="text-center">
              <i *ngSwitchCase="'Mlle'" class="fa fa-female fa-rose"></i>
              <i *ngSwitchCase="'Mme'" class="fa fa-female fa-rose"></i>
              <i *ngSwitchCase="'M'" class="fa fa-male fa-darkgreen"></i>  
            </th>
            <th *ngSwitchCase="'Archivé'">{{u.nom}} {{u.prenom}}</th>
            <th *ngSwitchCase="'Archivé'">{{u.cin}}</th>
            <th *ngSwitchCase="'Archivé'">{{u.disponibilite}}</th>
            <th *ngSwitchCase="'Archivé'">{{u.dateintegration}}</th>
            <th *ngSwitchCase="'Archivé'">{{u.grade}}</th>
            <th *ngSwitchCase="'Archivé'">{{u.ajouterpar}}</th>
            <th *ngSwitchCase="'Archivé'" class="text-center">
              <a class="btnicon" routerLink="/Afficheruncandidat/{{u.id}}" title="Afficher"><i class="fa fa-eye text-primary fa-1x"></i>&nbsp;&nbsp;</a>
              <a class="btnicon" data-toggle="modal" [attr.data-target]="'#modal'+u.id" title="Désarchiver"><i class="fa fa-share-square-o text-success fa-1x"></i></a>
            </th>
            
             <div class="modal fade" id="modal{{u.id}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'modalLabel'+u.id">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 id="modalLabel{{u.id}}" class="modal-title text-center">
                        <i class="fa fa-share-square-o text-success"></i> Désarchiver
                      </h4>
                    </div>
                    <div class="modal-body">
                       <div class="text-center" [ngSwitch]="u.civilite">
                          <img *ngSwitchCase="'M'" src="../../assets/images/avatar-men.png" class="img-responsive img-circle" alt="" width="30%">
                          <img *ngSwitchCase="'Mlle'" src="../../assets/images/avatar-women.png" class="img-responsive img-circle" alt="" width="30%">             
                          <img *ngSwitchCase="'Mme'" src="../../assets/images/avatar-women.png" class="img-responsive img-circle" alt="" width="30%">
                       </div><br><br>                      
                       <p class="text-center">
                         Vous voulez vraiment désarchivé <strong class="text-primary">{{u.civilite}} {{u.nom}} {{u.prenom}}</strong> ?<br>
                       </p>
                    </div>
                    <div class="modal-footer">
                    <form >
                        <div class="blokinputhide">
                          <input type="text" value="{{u.id}}" ngModel="{{u.id}}" name="idInput" #idInput readonly/>
                          <input type="text" value="En cours" ngModel="En cours" name="etatdossierInputset" readonly/>
                        </div> 
                        <button type="button" class="btn btn-hot text-uppercase" data-dismiss="modal">Vider</button>
                        <button (click)="Desarchivercandidat(idInput.value)" type="submit" class="btn btn-fresh text-uppercase" data-dismiss="modal">Confirmation</button>
                    </form>
                    </div>
                  </div>
                </div>
             </div> 

          </tr>
        </tbody>
      </table>
    </div>
    </div>
</section>