<section class="row allblok">
 
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
        <ul class="breadcrumb pull-left">
            <li><a routerLink="/"><i class="fa fa-home"></i></a></li>
            <li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
            <li class="active"><a ><i class="fa fa-globe"></i> Page404</a></li>
        </ul>
        <div class="pull-right"></div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="page-wrap d-flex flex-row align-items-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center blokerror">
                        	<h1>Oooops, Erreur !</h1>
                            <span class="display-1 d-block">404</span>
                            <div class="mb-4 lead">Nous n'avons pas pu trouver la page...<i class="fa fa-meh-o"></i></div>
                            <a routerLink="/" class="btn btn-sunny text-uppercase"><i class="fa fa-home"></i> Page d'acceuil</a>
                            <a class="btn btn-sky text-uppercase" href="javascript:history.back()"><i class="fa fa-reply"></i> Retourner à la Page Précédente</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</section>