<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-user"></i> Ajouter un collaborateur</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
        	<a routerLink="/ListesDesCandidats" class="btn btn-sky text-uppercase">
        		<i class="fa fa-users"></i> Liste des collaborateurs
            </a>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    	<form #creationUser="ngForm" (ngSubmit)="creationForm(creationUser)" class="formall" >
            <!--fieldset class="scheduler-border"-->
                <!--legend class="scheduler-border text-right"><i class="fa fa-user"></i> Ajouter un collaborateur</legend-->
    		        <h3 class="text-center"><i class="fa fa-user"></i> Ajouter un collaborateur</h3>
                <div class="row blocForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="alert alert-info alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    				             <strong>Information !</strong> Les champs avec (*) sont obligatoires.
    				          </div>
                      <div class="alert alert-info alert-dismissable text-left">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    				              <strong>Information !</strong> Le login et le le mot de passe seront généré automatiquement.
    				          </div>
        		        </div>
                </div>   		    

                <div class="row blocForm">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                        <h3 class="text-left text-info textborderForm">Informations personnelles</h3>
                        <div class="form-group">
                            <label class="control-label"> Civilité <span class="etoilered">*</span></label>
                            <input list ="civiliteL" class="form-control" type="text" ngModel name="civiliteInput" placeholder="Selectionnez la civilité" autocomplete="on" minlength="1" maxlength="4" required/>
              							<datalist id="civiliteL">
              							  <option value="M">
              							  <option value="Mlle">
              							  <option value="Mme">
              							</datalist>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.civiliteInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 1 Caractéres et Max 4 caractéres</span>
                             </div>                           
                        </div>

                        <div class="form-group">
                            <label class="control-label">Nom <span class="etoilered">*</span></label>
                            <input #loginn type="text" class="form-control" ngModel name="nomInput" placeholder="Entrez le nom" autocomplete="on" minlength="3" maxlength="15" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.nomInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 3 Caractéres et Max 15 caractéres</span>
                             </div>                            
                        </div>

                        <div class="form-group">
                            <label class="control-label">Prénom <span class="etoilered">*</span></label>
                            <input #loginp type="text" class="form-control" ngModel name="prenomInput" placeholder="Entrez le prénom" autocomplete="on" minlength="3" maxlength="15" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.prenomInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 3 Caractéres et Max 15 caractéres</span>
                             </div>   
                        </div>

                        <div class="form-group">
                            <label class="control-label">CIN <span class="etoilered">*</span></label>
                            <input class="form-control" type="text" ngModel name="cinInput" placeholder="Entrez le CIN" autocomplete="on" minlength="3" maxlength="8" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.cinInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 3 Caractéres et Max 8 caractéres</span>
                             </div>  
                        </div>

                        <div class="form-group">
                            <label class="control-label">Date naissance <span class="etoilered">*</span></label>
                            <div class="input-group date">
                                <input class="form-control" type="date" ngModel name="datenaissanceInput" placeholder="Selectionnez la date de naissance" autocomplete="on" min="01/01/1900" max="{{Currentday | date:'dd/MM/yyyy'}}" required/>               
                            </div>
                            <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.datenaissanceInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Format date (01/01/2000)</span>
                             </div>                            
                        </div>

                    </div>                	
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <h3 class="text-left text-info textborderForm">Informations administratives</h3>

                        <div class="form-group">
                            <label class="control-label">Situation familiale <span class="etoilered">*</span></label>
                            <input list ="SituationL" class="form-control" type="text" ngModel name="sitauationfInput" placeholder="Selectionnez la situation familiale" autocomplete="on" minlength="5" maxlength="12" required/>
                            <datalist id="SituationL">
                              <option value="Célibataire">
                              <option value="Marié">
                              <option value="Divorcé">
                            </datalist>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.sitauationfInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 5 Caractéres et Max 12 caractéres</span>
                             </div>                             
                        </div>

                        <div class="form-group">
                            <label class="control-label">Disponibilité <span class="etoilered">*</span></label>
                            <input list ="DisponibiliteL" class="form-control" type="text" ngModel name="disponibiliteInput" placeholder="Selectionnez la disponibilité" autocomplete="on" minlength="5" maxlength="15" required/>
                            <datalist id="DisponibiliteL">
                              <option value="Immédiate">
                              <option value="Aprés 1 mois">
                              <option value="Aprés 2 mois">
                              <option value="Aprés 3 mois">                             
                              <option value="Aprés 4 mois">
                              <option value="Aprés 5 mois">
                              <option value="Aprés 6 mois">
                            </datalist>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.disponibiliteInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 5 Caractéres et Max 15 caractéres</span>
                             </div> 
                        </div>

                        <div class="form-group">
                            <label class="control-label">Profil <span class="etoilered">*</span></label>
                            <input class="form-control" type="text" ngModel name="profilInput" placeholder="Entrez le profil" autocomplete="on" minlength="4" maxlength="20" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.profilInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 4 Caractéres et Max 20 caractéres</span>
                             </div> 
                        </div>

                        <div class="form-group">
                            <label class="control-label">Grade <span class="etoilered">*</span></label>
                            <input list ="GradeL" class="form-control" type="text" ngModel name="gradeInput" placeholder="Selectionnez le grade" autocomplete="on" minlength="1" maxlength="2" required/>
                            <datalist id="GradeL">
                              <option value="A">
                              <option value="B">
                              <option value="C">
                              <option value="D">                                
                              <option value="E">
                              <option value="F">
                            </datalist>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.gradeInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 1 Caractére et Max 2 caractéres</span>
                             </div>                            
                        </div>

                        <div class="form-group">
                            <label class="control-label">Date d'intégration <span class="etoilered">*</span></label>
                            <div class="input-group date">
                                <input class="form-control col-lg-9" type="date" name="dateintegrationInput" placeholder="Selectionnez la date d'intégration" ngModel autocomplete="on" max="" min="" required/>
                                <input class="form-control col-lg-3" type="time" name="heureintegrationInput" placeholder="Selectionnez l'haure d'intégration" ngModel autocomplete="on" max="21:00:00" min="08:00:00" required/>
                            </div>
                            <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.dateintegrationInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Format date ({{Currentday | date:'dd/MM/yyyy hh:mm'}}) </span>
                             </div>                                                     
                        </div>
                    </div>
                </div>

                <div class="row blocForm">
                     
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <h3 class="text-left text-info textborderForm">Coordonnés</h3>
                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        
                        <div class="form-group">
                            <label class="control-label">Zone de mobilité <span class="etoilered">*</span></label>
                            <input list ="ZinemobiL" class="form-control" type="text" ngModel name="zonemobiliteInput" placeholder="Selectionnez la zone de mobilité" autocomplete="on" minlength="4" maxlength="15" required/>
                            <datalist id="ZinemobiL">
                              <option value="Rabat">
                              <option value="Casablanca">
                              <option value="Internationale">
                            </datalist>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.zonemobiliteInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 4 Caractéres et Max 15 caractéres</span>
                             </div>                                                        
                        </div>

                        <div class="form-group">
                            <label class="control-label">Email <span class="etoilered">*</span></label>
                            <input type="email" class="form-control" ngModel name="emailInput" placeholder="Entrez l'adresse email" autocomplete="on" minlength="4" maxlength="30" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.emailInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Format email (contact@gmail.com)</span>
                             </div>                             
                        </div> 
                        
                        <div class="form-group">
                            <label class="control-label">Adresse</label>
                            <textarea cols="10" rows="5" class="form-control" ngModel name="adresseInput" placeholder="Entrez l'adresse " minlength="1" maxlength="100"></textarea>
                        </div>                       

                    </div>

                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        
                        <div class="form-group">
                            <label class="control-label">Numéro de portable <span class="etoilered">*</span></label>
                            <input class="form-control" type="text" ngModel name="portableInput" placeholder="Entrez le numéro de portable" autocomplete="on" minlength="10" maxlength="16" required/>
                             <div *ngIf="creationUser.invalid && creationUser.touched">
                                <span *ngIf="creationUser.controls.portableInput.invalid" class="msgerreur pull-right text-right text-danger">Ce champ est obligatoire, Min 10 Caractéres et Max 16 caractéres, Format téléphone (0600000000)</span>
                             </div>                                                      
                        </div>

                        <div class="form-group">
                            <label class="control-label">Numéro de fixe</label>
                            <input type="text" class="form-control" ngModel name="fixeInput" placeholder="Entrez le numéro de portable" autocomplete="on" minlength="10" maxlength="16"/>
                        </div>

                       <div class="form-group">
                            <label class="control-label">Autres informations</label>
                            <textarea cols="10" rows="5" class="form-control" ngModel name="autreinfoInput" placeholder="Entrez des autres informations" minlength="1" maxlength="300"></textarea>
                        </div>

                    </div>
                </div> 

                <div class="row blocForm pull-right">
                    <div class="blokinputhide">
                        <!--- [value]="Currentday | date:'dd/MM/yyyy'" [ngModel]="Currentday | date:'dd/MM/yyyy'" --->
                        <input type="text" [value]="Currentday | date:'dd/MM/yyyy'" [ngModel]="Currentday | date:'dd/MM/yyyy'" name="datecreationInput" #datecreationInput readonly/>
                        <input type="text" [value]="Currentday | date:'hh:mm:ss'" [ngModel]="Currentday | date:'hh:mm:ss'" name="heurecreationInput" #heurecreationInput readonly/>
                        <input type="text" name="passwordInput" ngModel="Cap2018++" #passwordInput readonly/>
                        <input type="text" ngModel="En cours" name="etatdossierInput" #etatdossierInput readonly/>
                        <input type="text" ngModel="KENZA" name="ajouterparInput" #ajouterparInput readonly/>
                        <input type="text" ngModel="{{loginp.value | slice:0:1}}{{loginn.value}}" name="getnameprenom" #getnameprenom readonly/>
                        <input type="text" ngModel="{{getnameprenom.value | lowercase}}" name="loginInput" #loginInput readonly/>
                    </div>

                     &nbsp;<button type="submit" class="btn btn-fresh text-uppercase" [disabled]="creationUser.invalid || creationUser.pristine" >Enregister</button>&nbsp;
                     &nbsp;<button type="reset" class="btn btn-hot text-uppercase">Vider</button>&nbsp;   
                </div>                          
            <!--/fieldset-->
    	</form>

    </div>
</section>
