.formall{
    box-shadow: 0px 1px 6px rgba(0,0,0,.1);
    border: 1px solid #ECECEC;
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
}

.blokupdate-doc{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}