<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" class="nav-link" > <i class="fa fa-home"></i> </a></li>
            <li class="nav-item"  routerLinkActive="active"><a routerLink="/dossierintegration" class="nav-link" >Dossier Intégration</a></li>
            <li class="nav-item"  routerLinkActive="active"><a routerLink="/calendrierintegration" class="nav-link" >Calendrier d'intégration</a></li>
            <li class="nav-item"  routerLinkActive="active"><a routerLink="/progmintegration" class="nav-link" >Pragramme d'intégration</a></li> 
            <li class="nav-item"  routerLinkActive="active"><a routerLink="/messagerie" class="nav-link" >Messagerie</a></li>
            <li class="nav-item"  routerLinkActive="active"><a routerLink="/blok" class="nav-link" >Blok</a></li> 
      </ul>
    </div>
  </nav>
