<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/" class="apointer"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-file-pdf-o"></i> Liste des documents</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <div *ngIf="documents" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="pull-right">
        	<a routerLink="/Ajouterundocument" class="btn btn-sky text-uppercase ablonc">
        		<i class="fa fa-plus-square"></i> Ajouter un document
        	</a>
        </div>
    </div>

    <br><br>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

       <div *ngIf="!documents" >
         <img src="../../assets/images/loading.gif" class="img-responsive imgloader">
       </div>

    	<div *ngIf="documents" class="table-responsive">  
    		  <table datatable id="Listedocs" class="table table-hover table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Nom du document</th>
                <th>Date d'ajout</th>
                <th>Ajouter par</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of documents">
                <th >{{d.nomdoc}}</th>
                <th >{{d.datedoc}} {{d.heuredoc}}</th>
                <th >{{d.ajouterpardoc}}</th>
                <th class="text-center">
                  <a class="btnicon" routerLink="/Detailsdocument/{{d.id}}" title="Afficher"><i class="fa fa-eye text-primary fa-1x"></i>&nbsp;&nbsp;</a>
                  <a class="btnicon" routerLink="/Modifierundocument/{{d.id}}" title="Modifier"><i class="fa fa-edit text-success fa-1x"></i>&nbsp;&nbsp;</a>
                  <a class="btnicon" data-toggle="modal" [attr.data-target]="'#modal'+d.id" title="Supprimer"><i class="fa fa-trash text-danger fa-1x"></i></a>
      		    </th>
                
                 <div class="modal fade" id="modal{{d.id}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'modalLabel'+d.id">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 id="modalLabel{{d.id}}" class="modal-title text-center">
                            <i class="fa fa-trash text-danger"></i> Supprimer
                          </h4>
                        </div>
                        <div class="modal-body">
                           <div class="text-center">
                              <img src="../../assets/images/fichier.png" class="img-responsive img-circle" alt="" width="30%">
                           </div><br><br>                      
                           <p class="text-center">
                             Vous voulez vraiment supprimé ce document "<strong class="text-primary">{{d.nomdoc}}</strong>" qui a été ajouter par <strong class="text-primary">{{d.ajouterpardoc}}</strong> le <strong class="text-primary">{{d.datedoc}}</strong> ?<br>
                           </p>
                        </div>
                        <div class="modal-footer">
                        <form >
                            <div class="blokinputhide">
                              <input type="text" value="{{d.id}}" ngModel="{{d.id}}" name="idInput" #idInput readonly/>
                            </div> 
                            <button type="button" class="btn btn-hot text-uppercase" data-dismiss="modal">Annuler</button>
                            <button (click)="effacerUser(idInput.value)" type="submit" class="btn btn-fresh text-uppercase" data-dismiss="modal">Confirmation</button>
                        </form>
                        </div>
                      </div>
                    </div>
                 </div> 

    		      </tr>
    		    </tbody>
    		  </table>
    		</div>
    </div>
</section>