        <!--===================Top menu=======================-->
        <header class="header">
          <nav class="navbar navbar-toggleable-md navbar-light pt-0 pb-0 ">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand p-0 mr-5" href="#">
            	<img src="../../assets/images/logoblanc.png" class="img-responsive logo">
            </a>
            <div class="float-left"> <a href="#" class="button-left"><span class="fa fa-fw fa-bars "></span></a> </div>
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
              <ul class="navbar-nav">

                <li class="nav-item dropdown messages-menu">
                  <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bell-o"></i>
                    <span class="label label-success bg-success">2</span>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <ul class="dropdown-menu-over list-unstyled">
                      <li class="header-ul text-center">Vous avez 2 messages</li>
                      <li>
                        <!-- inner menu: contains the actual data -->
                        <ul class="menu list-unstyled">
                          <li><!-- start message -->
                          <a href="#">
                            <div class="pull-left">
                              <img src="http://via.placeholder.com/160x160" class="rounded-circle  " alt="User Image">
                            </div>
                            <h4>
                            Support Team
                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                            </h4>
                            <p>Why not buy a new awesome theme?</p>
                          </a>
                        </li>
                        <!-- end message -->
                        <li>
                          <a href="#">
                            <div class="pull-left">
                              <img src="http://via.placeholder.com/160x160" class="rounded-circle " alt="User Image">
                            </div>
                            <h4>
                            AdminLTE Design Team
                            <small><i class="fa fa-clock-o"></i> 2 hours</small>
                            </h4>
                            <p>Why not buy a new awesome theme?</p>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="footer-ul text-center"><a href="#">Voir tous</a></li>
                  </ul>
                </div>
              </li>

              <li class="nav-item dropdown notifications-menu">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-warning bg-warning">3</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <ul class="dropdown-menu-over list-unstyled">
                    <li class="header-ul text-center">Vous avez 3 notifications</li>
                    <li>
                      <!-- inner menu: contains the actual data -->
                      <ul class="menu list-unstyled">
                        <li>
                          <a href="#">
                            <i class="fa fa-users text-aqua"></i> 
                            5 new members joined today
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-warning text-yellow"></i> 
                            Very long description here that may not fit into the
                            page and may cause design problems
                          </a>
                        </li>
                        <li>
                          <a href="#">
                            <i class="fa fa-user text-red"></i> 
                            You changed your username
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="footer-ul text-center"><a href="#">Voir tous</a></li>
                  </ul>
                </div>
              </li>
              
              <li class="nav-item dropdown  user-menu">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../assets/images/rhcap.png" class="user-image" alt="User Image" >
                  <span class="hidden-xs">Bonjour Mezgani said</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" routerLink="/Deconnexion">
                  	<i class="fa fa-power-off text-danger"></i> Déconnecter
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
<!--===================Menu left=======================-->
    <div class="main">
        <aside class="menuleft">
          <div class="sidebar left ">
            <div class="user-panel">
              <div class="pull-left image">
                <img src="../../assets/images/rhcap.png" class="rounded-circle" alt="User Image">
              </div>
              <div class="pull-left info">
                <p>Bonjour <br>Mezgani said</p>
                <!--a ><i class="fa fa-circle text-success"></i> Online</a-->
              </div>
            </div>
            <p id="menuprincipaltxt" class="label text-center text-gris">&nbsp;</p>
            <ul class="list-sidebar bg-defoult">
              <li > 
              	<a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/">
              		<i class="fa fa-home"></i><span class="nav-label"> Acceuil</span>
              	</a>
              </li>

              <li >
              	<a routerLinkActive="active" data-toggle="collapse" data-target="#Candidats" class="collapsed" >
              		<i class="fa fa-users"></i><span class="nav-label"> Collaborateurs </span> 
              		<span class="fa fa-chevron-down pull-right"></span> 
              	</a>
	              <ul class="sub-menu collapse" id="Candidats">
	                <li><a routerLinkActive="active" routerLink="/ListesDesCandidats">Liste des collaborateurs</a></li>
	                <li><a routerLinkActive="active" routerLink="/Ajouteruncandidat">Ajouter un collaborateur</a></li>
	                <li><a routerLinkActive="active" routerLink="/Listesdesarchivedescandidats">Archives des collaborateurs</a></li>
	              </ul>
              </li>

              <li >
                <a routerLinkActive="active" data-toggle="collapse" data-target="#Documents" class="collapsed" >
                  <i class="fa fa-file-pdf-o"></i><span class="nav-label"> Documents administratifs </span> 
                  <span class="fa fa-chevron-down pull-right"></span> 
                </a>
                <ul class="sub-menu collapse" id="Documents">
                  <li><a routerLinkActive="active" routerLink="/Listedesdocuments">Liste des documents</a></li>
                  <li><a routerLinkActive="active" routerLink="/Ajouterundocument">Ajouter un document</a></li>
                </ul>
              </li>              

              <li >
                <a routerLinkActive="active" data-toggle="collapse" data-target="#Messagerie" class="collapsed" >
                  <i class="fa fa-envelope"></i><span class="nav-label"> Messagerie </span> 
                  <span class="fa fa-chevron-down pull-right"></span> 
                </a>
                <ul class="sub-menu collapse" id="Messagerie">
                  <li><a routerLinkActive="active" routerLink="/paencor">Boite de reception</a></li>
                  <li><a routerLinkActive="active" routerLink="/paencor">Envoyer un message</a></li>
                  <li><a routerLinkActive="active" routerLink="/paencor">Archives des messages</a></li>
                </ul>
              </li>

              <li >
                <a routerLinkActive="active" data-toggle="collapse" data-target="#pages" class="collapsed" >
                  <i class="fa fa-cogs"></i><span class="nav-label"> Gestion des pages </span> 
                  <span class="fa fa-chevron-down pull-right"></span> 
                </a>
                <ul class="sub-menu collapse" id="pages">
                  <li><a routerLinkActive="active" routerLink="/paencor">Home slider</a></li>
                  <li><a routerLinkActive="active" routerLink="/paencor">Evénements</a></li>
                  <li><a routerLinkActive="active" routerLink="/paencor">Vidéos</a></li>
                  <li><a routerLinkActive="active" routerLink="/paencor">Contact</a></li>
                </ul>
              </li>

              <li>
                <a routerLinkActive="active" routerLink="/paencor"><i class="fa fa-save"></i> <span class="nav-label">Journal</span></a> 
              </li>

              <li>
              	<a routerLinkActive="active" routerLink="/Deconnexion"><i class="fa fa-power-off"></i> <span class="nav-label">Déconnecter</span></a> 
              </li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>              
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <li>&nbsp;</li>
              <div class="bkmenu"><img src="../../../assets/images/capbk1.png" class="img-responsive"></div>
            </ul>
          </div>
        </aside>
    </div>
