<section class="row allblok">
 
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 blokbreadcrumb">
		<ul class="breadcrumb pull-left">
			<li><a routerLink="/"><i class="fa fa-home"></i></a></li>
			<li>&nbsp;&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;</li>
			<li class="active"><a ><i class="fa fa-file-pdf-o"></i> Détails d'un document</a></li>
		</ul>
		<div class="pull-right"></div>
	</div>

    <div *ngIf="document" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <div class="pull-right">
        	<a routerLink="/Listedesdocuments" class="btn btn-sky text-uppercase">
        		<i class="fa fa-file-pdf-o"></i> Liste des documents
            </a>
        </div>
    </div>

    <br><br>
      
	   <div *ngIf="!document" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        <img src="../../assets/images/loading.gif" class="img-responsive imgloader">
	   </div>    

       <div *ngIf="document" class="formall affichecandidatsblok">
            <div class="col-lg-4 pull-right">
	            <img src="../../assets/images/fichier.png" class="img-responsive img-circle" title="{{document.nomdoc}}" alt="{{document.icondoc}}" width="100%">
            </div>
         
	        <div class="col-lg-8" >
			         <div >
						<h4 class="text-uppercase">{{document.nomdoc}}</h4>
						<ul class="timeline">
							<li>
								<a><strong>&nbsp;&nbsp;Source</strong> : {{document.sourcedoc}}</a>
								<p></p>
							</li>
							<li>
								<a><strong>&nbsp;&nbsp;Date de création</strong> : {{document.datedoc}} {{document.heuredoc}}</a>
								<p></p>
							</li>
							<li>
								<a><strong>&nbsp;&nbsp;Ajouter par</strong> : {{document.ajouterpardoc}}</a>
								<p></p>
							</li>
							<li>
								<a><strong>&nbsp;&nbsp;Extension</strong> : {{document.formatdoc}}</a>
								<p></p>
							</li>
							<li>
								<a><strong>&nbsp;&nbsp;Description</strong> : {{document.descdoc}}</a>
								<p>  </p>
							</li>				
						</ul>
				     </div>   
	        </div>                
       </div>
</section>