body{ 
    /*background: url(assets/images/capbk1.png) right bottom fixed !important;*/
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    background-color: #FFF !important;
}

*{padding:0px;margin:0px;}

.fa-mauve{color:#320A3E;}
.fa-rose{color:#FF2C51;}
.fa-vert{color:#74E937;}
.fa-bleu, .text-primary{color:#0070AD;}
.fa-bleuciel, .text-info{color:#12B3DB;}
.fa-graay, .text-gris{color:#ECECEC;}

.fa-peach{color:#FF7E83;}
.fa-capblue{color:#80B8D6;}
.fa-vibrantblu{color:#88D5ED;}
.fa-greeen{color:#00C37B;}
.fa-gris{color:#f8f8f8;}
.fa-pistage{color:#C8FF16;}
.fa-orange{color:#FF6327;}
.fa-aqua{color:#0F999C;}
.fa-Brithaqua{color:#01D1D0;}
.fa-darkgreen{color:#15596B;}
.fa-claret{color:#860864;}
.fa-lightclaret{color:#CB2980;}
.fa-purple{color:#7E39BA;}
.fa-Brithpurple{color:#6D64CC;}
.fa-darkpurple{color:#4701A7;}

.btn-primary,.btn-primary:hover{color: #FFF;background-color: #0070AD;border-color: #0070AD;}
.btn-info,.btn-info:hover{color: #FFF;background-color: #12B3DB;border-color: #12B3DB;}
.btn-gris,.btn-gris:hover{color: #FFF;background-color: #ECECEC;border-color: #ECECEC;}
.btn-pistag,.btn-pistag:hover{color: #FFF;background-color: #C8FF16;border-color: #C8FF16;}
.btn-danger2,.btn-danger2:hover{color: #FFF;background-color: #FF2C51;border-color: #FF2C51;}

.alert-orang {
    color: #FFF;
    background-color: #FF6327;
    border-color: #FF6327;
}

.blokbreadcrumb{
    background: #ECECEC;
    max-height: 80px;
}

.alert-primary {
    color: #FFF;
    background-color: #0070AD;
    border-color: #0070AD;
}


.logo{width: 100%;}

.menuleft{font-size: 15px;}

.sidebar {
    margin-top: -16px !important;
}

.allblok .breadcrumb {
    background-color: transparent !important;
    color:#000;
    margin-top:1%;
    margin-bottom:1%;

}

.allblok .breadcrumb a{
    color:#000;
    font-weight: 600 !important;
    text-decoration: none;
    list-style: none;
}

.allblok{
    font-weight: 400 !important;
    min-height:600px;
}

.etoilered{
    color:#FF2C51;font-weight: bold;
}

.imgloader{
    /*margin-top: 20%;
    margin-left: 40%;
    margin-bottom: 20%;
    margin-right: 40%;*/
    margin-top:0px;
    margin-left: 18%;
    margin-bottom: 20%;
}

.imgload{
    margin-top:40px;
}


.formall{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 4%;
    margin-bottom: 6%;
    background: rgba(255, 255, 255, 0.2);
    /*background: rgba(22, 27, 46, 0.2);*/
}

.formall label{
    font-weight: bold;
}

fieldset.scheduler-border {
    border: 2px groove #15596B !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    /*text-align: left !important;*/
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

input.ng-valid,textarea.ng-valid{border-bottom: 2px solid #74E937;}

input.ng-invalid.ng-touched,input.ng-invalid.ng-touched.ng-dirty,
textarea.ng-invalid.ng-touched,textarea.ng-invalid.ng-touched.ng-dirty
{border-bottom: 2px solid #FF6327;}

thead{
    background: #000;
    color: #FFF;
    text-align: left;
}

.btnicon, .btnicon:hover {cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

.ablonc,.ablonc:hover{color: #FFF !important;}
.apointer,.apointer:hover{cursor: pointer;}

.blokinputhide{
    display:none !important;
}

.textborderForm{
    border-bottom: 2px solid #ECECEC;
    padding: 10px 5px 17px 0px;
}

.blocForm{
    padding: 10px 20px 10px 20px;
}

.msgerreur{
    font-size: 12px;
    font-weight: 600;
}


.fa-1x{
    font-size: 22px;
}





/**************loader******************************/
.circle {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:350px;
    height:350px;
    border: 5px solid #fff;
    /*box-shadow:0 0 0 5px #4973ff;*/
    border-radius:50%;
    overflow:hidden;
}
.wave {
    position:relative;
    width:100%;
    height:100%;
    background:#0070AD;
    border-radius:50%;
    box-shadow:inset 0 0 50px rgba(0,0,0,.5);
}
.wave:before,
.wave:after{
    content:'';
    position:absolute;
    width:200%;
    height:200%;
    top:0;
    left:50%;
    transform:translate(-50%,-75%);
    background:#000;
}
.wave:before {
    border-radius:45%;
    background:rgba(255,255,255,1);
    animation:animate 5s linear infinite;
}
.wave:after {
    border-radius:40%;
    background: rgba(255,255,255,.5);
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
    }
}

/********************fin loader****************************/
/********************btn 3d*****************************/
/*
            btn btn-hot text-uppercase = Rouge
            btn btn-sunny text-uppercase" = Orange
            btn btn-fresh text-uppercase" = Vers
            btn btn-sky text-uppercase" = Bleu
*/
.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}
/*******************fin btn 3d******************************/