<div class="container">

	<div *ngIf="!bloks">
	  <img src="../../assets/images/loader.gif" class="img-responsive imgloader">
	</div>

	<div *ngIf="bloks">
	  <table class="table">
	      <thead>
	        <tr>
	          <th>{{ID}}</th>
	          <th>{{Adresse}}</th>
	          <th>{{Portable}}</th>
	          <th>{{Fix}}</th>
	          <th>{{Urlsiteweb}}</th>
	          <th>{{Email1}}</th>
	          <th>{{Email2}}</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr *ngFor="let b of bloks">
	          <td>{{b.id}}</td>
	          <td>{{b.adresse}}</td>
	          <td >{{b.portable}}</td>
	          <td>{{b.fix}}</td>
	          <td>{{b.urlsiteweb}}</td>
	          <td>{{b.email1}}</td>
	          <td>{{b.email2}}</td>
	        </tr>
	      </tbody>
	    </table>
	</div>
</div>
 
 
 
 
